<div id="modal-empleado" class="bg-gray-900 bg-opacity-50 z-10 fixed inset-0 hidden">
        <div class="rounded-lg bg-white mx-auto w-2/4 my-20 p-10">
            <div>
                <img src="./img/logo.jpg" class="w-2/4 mx-auto"/>
            <div>
            <div class="flex justify-between">
                <h1 class="font-bold text-xl">Detalles de empleado</h1>
                <button id="cancel"><span class="material-icons">&#xE5CD;</span></button>
            </div>
            <hr>
            <div class="ml-5">
                <h4 id="name-emp" class="font-semibold text-lg text-center"></h4>
                <hr>
                <div class="ml-8 mt-10 flex">
                    <div>
                        <p>Puesto: <span id="puesto"></span></p>
                        <p>Sede: <span id="sede"></span></p>
                        <p>Departamento: <span id="departamento"></span></p>
                        <p>Tel: <span id="telefono"></span></p>
                        <p>Email: <span id="mail"></span></p>
                    </div>
                    <div class="ml-20">
                        <img id="pic-empleado" class="w-32 h-32 rounded-lg"/>
                    </div>
                </div>
            </div>
            
        </div>
    </div>