<div id="new-empleado" class="bg-black bg-opacity-50 z-10 fixed inset-0 hidden">
        <div class="rounded-lg bg-white mx-auto w-2/4 my-20 p-10">
            <div class="flex justify-end">
                <button id="cancel-new" class=""><span class="material-icons">&#xE5CD;</span></button>
            </div>
            <input type="text" id="search-emp" class="rounded-md my-2 w-full text-center" placeholder="Buscscar Empleado"/>
            <ul id="list-emp">
            </ul>
        </div>
    </div>