<div class="flex items-center justify-between mx-2 my-4 p-4 w-1/4 shadow-lg rounded-lg bg-{{color}}">
    <h1 class="font-serif text-2xl ">{{name}}</h1>
    <span id="{{name}}" class="font-black text-5xl">{{count}}</span>
</div>