<div class="flex items-center justify-between p-2 rounded-md">
    <div class="">
        <h3 class="font-bold text-4xl">Welcome Back</h3>
        <p class="text-center font-serif">Emilio Andere López</p>
    </div>
    <div class="">
        <input type="text" id="search" name="search" placeholder="Search" class="rounded-full p-2 border hover:border-blue-700 hover:border-4 outline-none" />
        <span class="material-icons absolute top-12 right-10">&#xE8B6;</span>
    </div>
</div>