<div class="flex w-full bg-white rounded-lg py-2 justify-between shadow-md">

    <button id="new-eq" class="bg-blue-700 text-white rounded-full w-20 ml-5 font-semibold">Nuevo</button>

    <div class="flex bg-gray-200 w-1/4 rounded-full px-5 items-center mr-2">
        <input id="search-eq" type="text" class="bg-gray-200 border-gray-200 focus:ring-0 focus:border-gray-200" placeholder="Search"/>
        <span class="material-icons">&#xE8B6;</span>
    </div>

</div>