
<li class="hover:bg-gray-100 p-2 mb-2 rounded-lg {% if uri == url %} bg-gray-200 {% endif %}"><a href="{{ url}}">
    <div class="flex items-center">
        <div class="">
            <span class="material-icons">&#x{{icon}};</span>
        </div>
        <div class="w-3/4">
            <p class="text-center font-semibold">{{name}}</p>
        </div>
    </div>
    </a>
</li>