{% extends "/layouts/base.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    {% include '/components/navbar.twig' %}
    <hr>

    <div class="flex">
        {{ include('/components/DashCards.twig', { name: 'Equipos', count: 30, color: 'red'}) }}
        {{ include('/components/DashCards.twig', { name: 'Software', count: 10, color: 'blue'}) }}
        {{ include('/components/DashCards.twig', { name: 'Tickets', count: 25, color: 'green'}) }}
        {{ include('/components/DashCards.twig', { name: 'Empleados', count: 30, color: 'yellow'}) }}

    </div>
    <hr>
    <div class="flex shadow-2xl mt-5">
        <div class="w-1/2 my-10 mx-5 border-2 p-2 rounded-md">
            <h3 class="font-semibold font-serif text-center text-lg">Desgloce de Casos</h3>
            <canvas id="breakdown-chart"></canvas>
        </div>
        <div class="w-1/2 my-10 mx-5 border-2 p-2 rounded-md">
            <h3 class="font-semibold font-serif text-center text-lg">Prioridad de Casos</h3>
            <canvas id="priority-chart"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./js/breakdown.js"></script>
<script src="./js/priority.js"></script>

{% endblock %}