{% extends "/layouts/base.twig" %}

{% block title %}Dispositivos{% endblock %}

{% block content %}
    <div class="flex items-center justify-between p-2 rounded-md">
        
        <div class="flex w-3/4">
            {{ include('/components/DashCards.twig', { name: 'Asignados', color: 'green-400'}) }}
            {{ include('/components/DashCards.twig', { name: 'Stock', color: 'blue-400'}) }}
        </div>
        <div class="w-1/4">
            <h3 class="font-bold text-5xl text-center">Equipos</h3>
        </div>
    </div>
    
    {% include 'components/seeker.twig' %}

    <table class="w-full table-auto mt-10">
        <thead>
            <tr class="border bg-blue-400 text-white">
                <th>#</th>
                <th>Marca</th>
                <th>Nombre</th>
                <th>Dirección IP</th>
                <th>Fecha Compra</th>
            </tr>
        </thead>
        <tbody id="equipos"></tbody>
    </table>
    
    
    {% include 'components/modals/ModalEquipo.twig' %}
    {% include 'components/modals/ModalNewEq.twig' %}
    {% include 'components/modals/ModalNewEmp.twig' %}
    {% include 'components/modals/ModalEmpleado.twig' %}

    

{% endblock %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./js/device.js"></script>

{% endblock %}

{% block styles %}

    <link rel="stylesheet" href="./styles/animation.css">

{% endblock %}